In [54]:
import pandas as pd
import numpy as np
import icecream as ic

'''
22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출려되는 코드를 작성
23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력하되 /// 추가 문제 부분집합으로 가로 출력
24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력(최대값은 max)
25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.
28 다음 객체를 list 로 변환하시오
29 다음 객체를 dictionary 로 변환하시오
30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
31 30번 객체를
'''

'\n22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출려되는 코드를 작성\n23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력하되 /// 추가 문제 부분집합으로 가로 출력\n24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력(최대값은 max)\n25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)\n26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.\n27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.\n28 다음 객체를 list 로 변환하시오\n29 다음 객체를 dictionary 로 변환하시오\n30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오\n31 30번 객체를\n'

In [55]:
# 22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출려되는 코드를 작성
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
type(df.loc[df['A']])
#type(df['A'])
# df = df.drop_duplicates()
# print(df)
df.loc[df['A']]

TypeError: 'module' object is not callable

In [12]:
# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력하되 /// 추가 문제 부분집합으로 가로 출력
df = pd.DataFrame(np.random.random(size=(5, 3)))
df = df.sub(df.mean(axis=1),axis=0) #df.mean(axis=1) # df.sub((df.mean(axis=1), axis=0) -> 파이썬
print(df)

          0         1         2
0 -0.031867  0.077349 -0.045483
1  0.245659  0.086565 -0.332224
2 -0.468478  0.253165  0.215313
3 -0.467313  0.132927  0.334386
4 -0.013771 -0.080804  0.094575

In [18]:
# 24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력(최대값은 max)
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df = df.sum().idxmin()
df2 = df2.sum().idxmax()
print(df)
print(df2)

c
a

In [20]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
print(df)
# len(df) - df.duplicated(keep=False).sum()
print(df.drop_duplicates(keep=False))

   0  1  2
0  0  1  0
1  0  0  0
2  0  1  1
3  0  1  1
4  0  0  0
5  1  0  1
6  0  1  1
7  0  1  0
8  1  1  1
9  0  0  1

In [21]:
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

df = (df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)
print(df)

0    e
1    c
2    d
3    h
4    d
dtype: object

In [42]:
# 27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.
# 출력 결과는 
#  grps
#   a    409
#   b    156
#   c    345
# 이렇게 나옵니다.
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

#print(type(df.groupby('grps')))
#type(df.groupby('grps')['vals'])
df = df.groupby('grps')['vals'].max()
df

grps
a    345
b     57
c    235
Name: vals, dtype: int64

In [50]:
# 28 다음 객체를 list 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
# arr = df.values
# # print(type(arr))
# ls = arr.tolist()
# # print(type(ls))
df = df.values.tolist() #위의 과정을 한줄로
df

[[1, 4], [2, 5], [3, 6]]

In [52]:
# 29 다음 객체를 dictionary 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df = df.to_dict()
df

{'A': {0: 1, 1: 2, 2: 3}, 'B': {0: 4, 1: 5, 2: 6}}

In [40]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
df

SyntaxError: invalid syntax (<ipython-input-40-cd6e219b1d84>, line 1)

In [42]:
# 31 30번 객체를
#    customer_id 와 grade 를 인덱스로하고 product_code 를 컬럼으로,
#    purchare_amount 를 값으로, 재구성하시오